html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: #2396a4;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
}

header{
    background-color:#124456;
    padding: 20px;
    margin-bottom: 0;
    width: 100%;
    color: white;

}

nav {
    background-color: whitesmoke;
    color: #2BCAC9;
    padding: 0;
    top: 0;
    width: 100%;
    margin-bottom: 10px;

}

nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    justify-content: center;

}

nav a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: darkcyan;
    color: white;
}

h2, h3{
    padding: 10px;
    margin: 10px;
}


p{
    margin: 20px;
}

table, th, tr, td{
    border-collapse: collapse;
    border: solid whitesmoke 1px;
    width: 50%;
    padding: 10px;
}

th{
    background-color: #016363;
    color: white;
    width: 100%;
    margin: 10%;
}

.pagination{
    text-align: center;
}

.pagination a, .pagination span{
    display: inline-block;
    padding: 10px 15px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background: #fff;
    color: #333;
    text-decoration: none;
    border-radius: 50%;
    transition: background 0.3s, color 0.3s;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
}

.pagination a.prev, .pagination a.next{
    /*.pagination a.prev, .pagination a.next*/
    border-radius: 20px;
}

.pagination a:hover {
    background-color: darkcyan;
    color: white;
}


.pagePresentation{
    display: flex;
    justify-content: center;
}



.presentation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 10px;
    align-items: center;
    width: 90%;

}

.tech{
    display: inline-flex;
    justify-content: center;
    width: 100%;
    margin: 2%;
}

.inventaires, .clinventaires{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 10px;
    align-items: center;
    width: 100%;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.pageConnexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
}

.connexion{
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 30px;
    justify-content: center;
    align-items: center;
    margin:0 3%;

}

input{
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
}
label{
    display: flex;
    flex-direction: column;
}

.container{
    display: flex;
    justify-content: center;
}

.formulaireAjouter{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.formulaireImporterExporterFichier{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.ajoutEcran{
    display: flex;
    justify-content: center;
}

.ajoutUC{
    display: flex;
    justify-content: center;

}

.statistiques h2{
    display: flex;
    justify-content: center;
}

.statistiques{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 10px;
    width: 90%;
    padding-bottom: 20px;
    position: relative;
    overflow: hidden;
}

.statistiques label{
    margin: 10px;
}

.statistiqueUC{
    margin: 5px;
}

.stat{
    box-shadow: rgba(50, 50, 93, 0.25) 0 6px 12px -2px, rgba(0, 0, 0, 0.3) 0 3px 7px -3px;
    border-radius: 10px;
    margin: 20px;
    padding: 20px;
}

.stat table{
    border-radius: 10px;
    margin: 15px;
}

.stat thead, th, td{
    width: 50%;
}


