* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: lightgreen;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

header{
    background-color: darkcyan;
    padding: 20px;
    width: 100%;
    color: white;

}

nav {
    background-color: whitesmoke;
    color: darkcyan;
    padding: 0;
    top: 0;
    width: 100%;
    margin-bottom: 10px;

}

nav ul {
    list-style: none;
    display: flex;
    justify-content: center;

}

nav a {
    display: block;
    color: black;
    text-decoration: none;
    padding: 15px 20px;
    transition: background-color 0.3s;
}

nav a:hover {
    background-color: darkcyan;
    color: white;
}

h2, h3{
    padding: 10px;
    margin: 10px;
}


p{
    margin: 20px;
}

#pagePresentation{
    display: flex;
    justify-content: center;
}



#presentation{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: whitesmoke;
    border-radius: 10px;
    align-items: center;
    width: 25%;

}

#pageConnexion{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60vh;
}

#connexion{
    display: flex;
    background-color: whitesmoke;
    border-radius: 10px;
    padding: 30px;
    justify-content: center;
    width: 25%;
    align-items: center;

}

input{
    border-radius: 10px;
    padding: 8px;
    margin: 5px;
}

label{
    display: flex;
    flex-direction: column;
}